.mainContent {
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 30px;
}

.conf-form .control-label,
.user-form .control-label {
    width: auto;
}

.conf-form .controls {
    margin-left: 50px;
}

.user-form .controls {
    margin-left: 70px;

}