<!doctype html>
<html ng-app="myqapp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

    <!-- build:css({.tmp,app}) styles/main.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/fullcalendar/fullcalendar.css" />
    <link rel="stylesheet" href="bower_components/pikaday/css/pikaday.css" />
    <!-- endbower -->
    <link rel="stylesheet" type="text/css" href="styles/myqapp.css">
    <link rel="stylesheet" type="text/css" href="styles/infoq.css">
    <!-- endbuild -->
</head>
<body>

<div class="pure-g-r" id="layout" ng-controller="HeaderController">
    <a href="#menu" id="menuLink" class="pure-menu-link">
        <span></span>
    </a>

    <div class="pure-u" id="menu">
        <div class="pure-menu pure-menu-open">
            <a class="pure-menu-heading" href="/">MyQApp</a>
            <ul>
                <li><a ng-class="{'pure-menu-selected': isActive('/feed')}" href="#/feed">Flux</a></li>
                <li><a ng-class="{'pure-menu-selected': isActive('/stats')}" href="#/stats">Stats Listes</a></li>
                <li><a ng-class="{'pure-menu-selected': isActive('/users')}" href="#/users">Stats Contributeurs</a></li>
                <li><a ng-class="{'pure-menu-selected': isActive('/conf')}" href="#/conf">Conférences</a></li>
                <li ng-show="isEditor()"><a ng-class="{'pure-menu-selected': isActive('/markdown')}" href="#/markdown">Markdown</a></li>
                <li ng-show="isEditor()"><a ng-class="{'pure-menu-selected': isActive('/vote')}" href="#/vote">Vote</a></li>
                <li ng-show="isAdmin()"><a ng-class="{'pure-menu-selected': isActive('/admin')}" href="#/admin">Admin</a></li>
            </ul>
        </div>
    </div>

    <div class="pure-u-1" ng-controller="AlertController" ng-show="alerts.length > 0">
        <div class="pure-u-3-4 r-tablet-full-width">
            <div class="myqapp-alert alert-ontop" ng-repeat="alert in alerts" ng-class="getClassAlert(alert)">
                <button class="pure-button myqapp-alert-close" ng-click="removeAlert(alert)">x</button>
                <span class="myqapp-alert-title">{{alert.title}}</span> <span ng-bind-html-unsafe="alert.content"></span></div>
        </div>
    </div>

    <div ng-view class="pure-u-1"></div>
</div>

<!-- build:js scripts/libs.js -->
<!-- bower:js -->
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/fullcalendar/fullcalendar.js"></script>
<script src="bower_components/pikaday/pikaday.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/services.js"></script>
<script src="scripts/controllers/feedListController.js"></script>
<script src="scripts/controllers/headerController.js"></script>
<script src="scripts/controllers/alertController.js"></script>
<script src="scripts/controllers/statsListsController.js"></script>
<script src="scripts/controllers/statsUserController.js"></script>
<script src="scripts/controllers/confListController.js"></script>
<script src="scripts/controllers/mardownGeneratorController.js"></script>
<script src="scripts/controllers/adminController.js"></script>
<!-- endbuild -->

<script type="text/javascript">
    var menu = document.getElementById('menu'),
            menuLink = document.getElementById('menuLink'),
            layout = document.getElementById('layout'),

            toggleClass = function (element, className) {
                var classes = element.className.split(/\s+/),
                        length = classes.length,
                        i = 0;

                for(; i < length; i++) {
                    if (classes[i] === className) {
                        classes.splice(i, 1);
                        break;
                    }
                }
                // The className is not found
                if (length === classes.length) {
                    classes.push(className);
                }

                element.className = classes.join(' ');
            };

    menuLink.onclick = function (e) {
        e.preventDefault();
        var active = 'active';
        toggleClass(layout, active);
        toggleClass(menu, active);
        toggleClass(menuLink, active);
    };
</script>

</body>
</html>