<a type="button" class="btn" bs-modal="'app/partials/userCreationModal.html'" ng-controller="UserCreationCtrl">Nouvel utilisateur</a>

<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Rôles</th>
            <th width="20px"></th>
            <th width="20px"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{formatRoles(user)}}</td>
            <td><a href="" class="icon-pencil" bs-modal="'app/partials/userCreationModal.html'" ng-controller="UserModificationCtrl"></a></td>
            <td><a href="" class="icon-trash" ng-click="remove(user)"></a></td>
        </tr>
        </tbody>
    </table>
</div>