<div class="row-fluid">
    <div class="span3" >
        <fieldset ng-show="isEditor()">
            <legend>Ajouter une conférence</legend>
            <form class="form-horizontal conf-form" name="newconfForm" ng-submit="createConf()" novalidate>
                <div class="control-group">
                    <label class="control-label" for="inputName">Nom</label>
                    <div class="controls">
                        <input type="text" id="inputName" placeholder="Nom de la conférence" ng-model="newconf.name" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputLocation">Lieux</label>
                    <div class="controls">
                        <input type="text" id="inputLocation" placeholder="Lieux de la conférence" ng-model="newconf.location" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputWebsite">URL</label>
                    <div class="controls">
                        <input type="url" id="inputWebsite" placeholder="Site web de la conférence" ng-model="newconf.website" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputStartDate">Début</label>
                    <div class="controls">
                        <input id="inputStartDate" class="input-small" type="text" ng-model="newconf.startDate"
                               data-date-format="dd/mm/yyyy" bs-datepicker data-toggle="datepicker" required>
                        <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputEndDate">Fin</label>
                    <div class="controls">
                        <input id="inputEndDate" class="input-small" type="text" ng-model="newconf.endDate"
                               data-date-weekStart="1" data-date-format="dd/mm/yyyy" bs-datepicker data-toggle="datepicker" required>
                        <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-success">Ajouter</button>
                    </div>
                </div>
                <div ng-show="newconfForm.$invalid">
                    Formulaire invalide !
                </div>
            </form>
        </fieldset>
    </div>
    <div class="span9">
        <div class="alerts">
            <div class="alert fade" ng-repeat="alert in alerts" bs-alert="alert"></div>
        </div>

        <div id="conf-calendar">
        </div>
    </div>

</div>