<div class="feed-content">
    <div class="page-header pure-g">
        <div class="pure-u-3-4">
            <button class="pure-button feed-action" ng-click="today()">
                Today
            </button>
            <button class="pure-button feed-action" ng-click="nextMonth()">
                <i class="icon-chevron-right"></i>
            </button>
            <button class="pure-button feed-action" ng-click="previousMonth()">
                <i class="icon-chevron-left"></i>
            </button>
            <h1 class="content-subhead">Calendrier des conférences</h1>
        </div>
    </div>

    <div class="pure-g">

        <div class="pure-u-3-4">
            <div id="conf-calendar">
            </div>
        </div>

        <div class="pure-u-1-4" ng-show="isEditor()">
            <div class="conf-form">
                <form class="pure-form pure-form-stacked" name="newconfForm" ng-submit="createConf()" novalidate>
                    <fieldset>
                        <legend>Ajouter une conférence</legend>

                        <label for="inputName">Nom</label>
                        <input type="text" id="inputName" placeholder="Nom de la conférence" ng-model="newconf.name" required>

                        <label for="inputLocation">Lieux</label>
                        <input type="text" id="inputLocation" placeholder="Lieux de la conférence" ng-model="newconf.location" required>

                        <label for="inputWebsite">URL</label>
                        <input type="url" id="inputWebsite" placeholder="Site web de la conférence" ng-model="newconf.website" required>

                        <label for="inputStartDate">Début</label>
                        <input id="inputStartDate" type="text" placeholder="Date de début" ng-model="newconf.startDate" required>

                        <label for="inputEndDate">Fin</label>
                        <input id="inputEndDate" type="text" placeholder="Date de fin" ng-model="newconf.endDate" required>

                        <button type="submit" class="pure-button pure-button-primary">Ajouter</button>

                        <div ng-show="newconfForm.$invalid">
                            Formulaire invalide !
                        </div>

                    </fieldset>
                </form>
            </div>

        </div>
    </div>

    <script>
        $(function() {
            $("#inputStartDate").datepicker({
                defaultDate: "0",
                onClose: function(selectedDate) {
                    $("#inputEndDate").datepicker("option", "minDate", selectedDate);
                }
            });
            $("#inputEndDate").datepicker({
                onClose: function(selectedDate) {
                    $("#inputStartDate").datepicker("option", "maxDate", selectedDate);
                }
            });
        });
    </script>
</div>