<div class="row-fluid">
    <div class="span3">
        <fieldset>
            <legend>Filtrer par type</legend>
            <label class="checkbox" ng-repeat="type in types">
                <input type="checkbox" ng-model="type.selected"> {{type.name}}
            </label>
        </fieldset>

        <fieldset>
            <legend>Actions</legend>
            <button class="btn" ng-click="refreshFeed()">Rafraichir le feed</button>
        </fieldset>
    </div>
    <div class="span9">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Type</th>
                <th>Title</th>
                <th>Date</th>
                <th width="30%">Categories</th>
                <th width="120px">Add to Trello</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="feed in feeds | filter:filterCategory">
                <td>{{feed.type}}</td>
                <td><a href="{{feed.link}}">{{feed.title}}</a></td>
                <td>{{formatDate(feed.publishedDate)}}</td>
                <td>{{formatCategories(feed.categories)}}</td>
                <td>
                    <button class="btn btn-info" ng-click="addToTrello(feed)">Add to Trello</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>