<div class="row-fluid">
    <div class="span3">
        <fieldset>
            <legend>Filtrer par type</legend>
            <label class="checkbox" ng-repeat="type in types">
                <input type="checkbox" ng-model="type.selected"> {{type.name}}
            </label>
        </fieldset>

        <fieldset>
            <legend>Actions</legend>
            <button class="btn" ng-click="refreshFeed()">Rafraichir le feed</button>
        </fieldset>
    </div>
    <div class="span9">
        <div class="alerts">
            <div class="alert fade" ng-repeat="alert in alerts" bs-alert="alert"></div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Type</th>
                <th>Title</th>
                <th>Date</th>
                <th width="30%">Categories</th>
                <th width="120px">Add to Trello</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="feed in feeds.content | filter:filterCategory">
                <td>{{feed.type}}</td>
                <td><a ng-href="{{feed.link}}" target="_blank">{{feed.title}}</a></td>
                <td>{{feed.publishedDate | date:'dd/MM/yyyy'}}</td>
                <td>{{formatCategories(feed.categories)}}</td>
                <td>
                    <button ng-show="(feed.type == 'Article' || feed.type == 'News') && !feed.addedInTrello"
                            class="btn btn-info" ng-click="addToTrello($index)" ng-class="addingToTrello($index)" ng-disabled="addingToTrello($index)">Add to Trello
                    </button>

                    <a ng-show="feed.addedInTrello" ng-href="{{feed.urlTrello}}" class="btn disabled"
                       title="View on Trello" target="_blank">Added</a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="pagination pagination-centered pagination-large">
            <ul>
                <!-- FIXME rendre actif/inactif prev et next en fonction du contexte-->
                <li><a ng-href="#/feed/{{feeds.number - 1 }}">Prev</a></li>
                <li class="active"><a href="#">{{feeds.number}}</a></li>
                <li><a ng-href="#/feed/{{feeds.number + 1 }}">Next</a></li>
            </ul>
        </div>
    </div>

</div>