<div class="row-fluid">
    <div class="span4">
        <input type="text" ng-model="gitHubFilter" placeholder="Filter">
        <table class="table table-striped">
            <tbody>
            <tr ng-repeat="card in cards | filter:gitHubFilter ">
                <td><a href="{{card.githubUrl}}">{{card.name}}</a></td>
                <td><button class="btn btn-success" ng-click="fetchRaw(card.githubUrl, cardType(card))">Fetch</button></td>
            </tr>
            </tbody>
        </table>
        <hr>

        Sans lien GitHub dans la description de la carte sur Trello
        <table class="table table-striped">
            <tbody>
            <tr ng-repeat="card in cardsNoGithub">
                <td><a href="{{card.url}}">{{card.name}}</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="span8">
        <div class="alerts">
            <div class="alert fade" ng-repeat="alert in alerts" bs-alert="alert"></div>
        </div>

        <form class="form-horizontal" name="generateMarkdownForm" novalidate>
            <textarea style="width: 100% !important; height: 300px;" ng-model="markdown.text"></textarea>

            <label class="radio inline">
                <input type="radio" name="type" id="newsRadio" value="news" ng-model="markdown.type"> News
            </label>
            <label class="radio inline">
                <input type="radio" name="type" id="articleRadio" value="article" ng-model="markdown.type"> Article
            </label>
            <label class="radio inline">
                <input type="text" class="input-large" name="node" id="node" placeholder="/fr/articles/"
                       ng-model="markdown.node" required/>
            </label>
            <label class="radio inline">
                <button class="btn btn-success" ng-click="generateHtml()">Générer HTML</button>
            </label>
        </form>

        <textarea style="width: 100% !important; height: 300px;" ng-model="generated" disabled></textarea>
    </div>

</div>