<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th><a href="" ng-click="order = name; reverse = !reverse;">Nom</a></th>
            <th><a href="" ng-click="order = news; reverse = !reverse;">News</a></th>
            <th><a href="" ng-click="order = articles; reverse = !reverse;">Articles</a></th>
            <th><a href="" ng-click="order = valids; reverse = !reverse;">Validations</a></th>
            <th><a href="" ng-click="order = mentors; reverse = !reverse;">Mentorats</a></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="stats in authorStats | orderBy:order:reverse">
            <td><a href="#/users/{{stats.user}}">{{matchUserId(stats.user).fullName}}</a></td>
            <td><strong>{{stats.newsoriginal + stats.newstraduction}}</strong> ({{stats.newsoriginal}} originales, {{stats.newstraduction}} traductions)</td>
            <td><strong>{{stats.articlesoriginal + stats.articlestraduction}}</strong> ({{stats.articlesoriginal}} originaux, {{stats.articlestraduction}} traductions)</td>
            <td><strong>{{stats.articlesvalids + stats.newsvalids}}</strong> ({{stats.articlesvalids}} articles, {{stats.newsvalids}} news)</td>
            <td><strong>{{stats.newsmentor + stats.articlesmentor}}</strong> ({{stats.articlesmentor}} articles, {{stats.newsmentor}} news)</td>
        </tr>
        </tbody>
    </table>

</div>