<div>
    <div class="well well-small" ng-repeat="list in lists">
        <div class="row-fluid">
            <div class="span4">
                <div><strong>{{list.name}}</strong> : {{list.cards.length}} items</div>
                <div>News : {{countNews(list.cards)}} ({{countNewsOriginal(list.cards)}} original,
                    {{countNewsTraduction(list.cards)}} traduction)
                </div>
                <div>Articles : {{countArticles(list.cards)}} ({{countArticlesOriginal(list.cards)}} original,
                    {{countArticlesTraduction(list.cards)}} traduction)
                </div>
            </div>
            <div class="span8">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Auteur</th>
                        <th>News</th>
                        <th>Articless</th>
                        <th>Validations</th>
                        <th>Mentorats</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="stats in getAuthors(list.cards)">
                        <td>{{matchUserId(stats.user).fullName}}</td>
                        <td><strong>{{stats.newsoriginal + stats.newstraduction}}</strong> ({{stats.newsoriginal}} originales, {{stats.newstraduction}} traductions)</td>
                        <td><strong>{{stats.articlesoriginal + stats.articlestraduction}}</strong> ({{stats.articlesoriginal}} originaux, {{stats.articlestraduction}} traductions)</td>
                        <td><strong>{{stats.articlesvalids + stats.newsvalids}}</strong> ({{stats.articlesvalids}} articles, {{stats.newsvalids}} news)</td>
                        <td><strong>{{stats.newsmentor + stats.articlesmentor}}</strong> ({{stats.articlesmentor}} articles, {{stats.newsmentor}} news)</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>