<button class="btn" style="margin-bottom: 15px" ng-click="refreshStats()" ng-class="refreshing()" ng-disabled="refreshing()">Rafraichir les stats</button>
<div>
    <div class="well well-small" ng-repeat="list in lists">
        <div class="row-fluid">
            <div class="span4">
                <div><strong>{{list.listName}}</strong> : {{list.originalNews + list.translatedNews + list.originalArticles + list.translatedArticles}} items</div>
                <div>News : {{list.originalNews + list.translatedNews}} ({{list.originalNews}} original,
                    {{list.translatedNews}} traduction)
                </div>
                <div>Articles : {{list.originalArticles + list.translatedArticles}} ({{list.originalArticles}} original,
                    {{list.translatedArticles}} traduction)
                </div>
            </div>
            <div class="span8">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th><a href="" ng-click="order = name; reverse = !reverse;">Nom</a></th>
                        <th><a href="" ng-click="order = news; reverse = !reverse;">News</a></th>
                        <th><a href="" ng-click="order = articles; reverse = !reverse;">Articles</a></th>
                        <th><a href="" ng-click="order = valids; reverse = !reverse;">Validations</a></th>
                        <th><a href="" ng-click="order = mentors; reverse = !reverse;">Mentorats</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="stats in list.userStats | orderBy:order:reverse">
                        <td><a ng-href="#/users/{{stats.member.id}}">{{stats.memberFullName}}</a></td>
                        <td>
                            <strong>{{stats.originalNews + stats.translatedNews}}</strong>
                            ({{stats.originalNews}} <ng-pluralize count="stats.originalNews" when="{0:'originale', one:'originale', other:'originales'}"></ng-pluralize>,
                            {{stats.translatedNews}} <ng-pluralize count="stats.translatedNews" when="{0:'traduction', one:'traduction', other:'traductions'}"></ng-pluralize>)
                        </td>
                        <td>
                            <strong>{{stats.originalArticles + stats.translatedArticles}}</strong>
                            ({{stats.originalArticles}} <ng-pluralize count="stats.originalArticles" when="{0:'original', one:'original', other:'originaux'}"></ng-pluralize>,
                            {{stats.translatedArticles}} <ng-pluralize count="stats.translatedArticles" when="{0:'traduction', one:'traduction', other:'traductions'}"></ng-pluralize>)
                        </td>
                        <td>
                            <strong>{{stats.validatedArticles + stats.validatedNews}}</strong>
                            ({{stats.validatedArticles}} <ng-pluralize count="stats.validatedArticles" when="{0:'article', one:'article', other:'articles'}"></ng-pluralize>,
                            {{stats.validatedNews}} news)
                        </td>
                        <td>
                            <strong>{{stats.mentoredArticles + stats.mentoredNews}}</strong>
                            ({{stats.mentoredArticles}} <ng-pluralize count="stats.mentoredArticles" when="{0:'article', one:'article', other:'articles'}"></ng-pluralize>,
                            {{stats.mentoredNews}} news)
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>