<button class="btn" ng-click="refreshStats()" ng-class="refreshing()" ng-disabled="refreshing()">Rafraichir les stats</button>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th><a href="" ng-click="order = name; reverse = !reverse;">Nom</a></th>
            <th><a href="" ng-click="order = news; reverse = !reverse;">News</a></th>
            <th><a href="" ng-click="order = articles; reverse = !reverse;">Articles</a></th>
            <th><a href="" ng-click="order = valids; reverse = !reverse;">Validations</a></th>
            <th><a href="" ng-click="order = mentors; reverse = !reverse;">Mentorats</a></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="stats in authorStats | orderBy:order:reverse">
            <td><a ng-href="#/users/{{stats.user}}">{{stats.member.fullName}}</a></td>
            <td><strong>{{stats.originalNews + stats.translatedNews}}</strong> ({{stats.originalNews}} originales, {{stats.translatedNews}} traductions)</td>
            <td><strong>{{stats.originalArticles + stats.translatedArticles}}</strong> ({{stats.originalArticles}} originaux, {{stats.translatedArticles}} traductions)</td>
            <td><strong>{{stats.validatedArticles + stats.validatedNews}}</strong> ({{stats.validatedArticles}} articles, {{stats.validatedNews}} news)</td>
            <td><strong>{{stats.mentoredArticles + stats.mentoredNews}}</strong> ({{stats.mentoredArticles}} articles, {{stats.mentoredNews}} news)</td>
        </tr>
        </tbody>
    </table>

</div>