<style type="text/css">
    .token-trello {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        text-align: center;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
        box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    }

    .token-trello .token-trello-heading,
    .token-trello {
        margin-bottom: 10px;
    }

</style>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Token Trello invalide</h3>
</div>
<div class="modal-body">
    <form class="token-trello">
        <h2 class="token-trello-heading">Pour effectuer cette action, vous devez vous authentifier sur Trello</h2>
        <a class="btn btn-large btn-success" href="/api/trello/login">S'authentifier</a>
    </form>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>

</div>