<!doctype html>
<html ng-app="myqapp">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="app/css/myqapp.css">

    <link rel="stylesheet" type="text/css" href="lib/bootstrap-datepicker/bootstrap-datepicker.css"/>
    <link rel="stylesheet" type="text/css" href="lib/fullcalendar/fullcalendar.css"/>

</head>
<body>

<div class="pure-g-r" id="layout" ng-controller="HeaderController">
    <div class="pure-u" id="nav">
        <a href="#" class="nav-menu-button">MyQApp</a>

        <div class="nav-inner">
            <div class="pure-menu pure-menu-open">
                <ul>
                    <li class="pure-menu-heading">MyQApp</li>
                    <li><a ng-class="{active: isActive('/feed')}" href="#/feed">Flux</a></li>
                    <li><a ng-class="{active: isActive('/stats')}" href="#/stats">Stats Listes</a></li>
                    <li><a ng-class="{active: isActive('/users')}" href="#/users">Stats Contributeurs</a></li>
                    <li><a ng-class="{active: isActive('/conf')}" href="#/conf">Conférences</a></li>
                    <li ng-show="isEditor()"><a ng-class="{active: isActive('/markdown')}" href="#/markdown">Markdown</a></li>
                    <li ng-show="isAdmin()"><a ng-class="{active: isActive('/admin')}" href="#/admin">Admin</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="pure-u-1" ng-controller="AlertController">
        <div class="pure-u-3-4">
            <div class="myqapp-alert" ng-repeat="alert in alerts" ng-class="getClassAlert(alert)">
                <a class="pure-button myqapp-alert-close" ng-click="removeAlert(alert)">x</a>
                <span class="myqapp-alert-title">{{alert.title}}</span> {{alert.content}}</div>
        </div>
    </div>

    <div ng-view class="pure-u-1"></div>
</div>

<script src="lib/jquery/jquery-1.10.2.min.js"></script>
<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular/lib/angular-resource.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/angular/lib/angularstrap.js"></script>
<script src="lib/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="lib/fullcalendar/fullcalendar.min.js"></script>

<script src="app/js/app.js"></script>
<script src="app/js/services.js"></script>
<script src="app/js/controller/feedListController.js"></script>
<script src="app/js/controller/headerController.js"></script>
<script src="app/js/controller/alertController.js"></script>
<script src="app/js/controller/statsListsController.js"></script>
<script src="app/js/controller/statsUserController.js"></script>
<script src="app/js/controller/userDetailController.js"></script>
<script src="app/js/controller/confListController.js"></script>
<script src="app/js/controller/mardownGeneratorController.js"></script>
<script src="app/js/controller/adminController.js"></script>
<script src="app/js/controller/userCreationController.js"></script>
<script src="app/js/controller/userModificationController.js"></script>

</body>
</html>