<div class="feed-content">
    <div class="page-header pure-g">
        <div class="pure-u-3-4 r-tablet-full-width">
            <button class="pure-button feed-action" ng-click="refresh()" ng-disabled="isRefreshing" title="Rafraîchir le feed">
                <i class="icon-refresh" ng-class="{'icon-spin': feedRefreshing}"></i>
            </button>
            <a class="pure-button feed-action" title="Ajouter un utilisateur" ng-click="newUser.created=true">
                <i class="icon-plus">Nouvel utilisateur</i>
            </a>

            <h1 class="content-subhead">Administration</h1>
        </div>
    </div>

    <div class="pure-u-1 stats-user-list">
        <table class="pure-table pure-table-horizontal user-table">
            <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Rôles</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody ng-show="newUser.created">
                <td>
                    <input type="text" placeholder="Prénom" ng-model="newUser.firstName" required>
                </td>
                <td>
                    <input type="text" placeholder="Nom" ng-model="newUser.lastName" required>
                </td>
                <td>
                    <input type="email" placeholder="Email" ng-model="newUser.email" required>
                </td>
                <td>
                    <label ng-repeat="role in newUser.roles">
                        <input type="checkbox" value="{{role.name}}" ng-model="newUser.roles[$index].checked"> {{role.name}}<br>
                    </label>
                </td>
                <td><a href="" class="icon-save" ng-click="createUser(newUser)" title="Créer l'utilisateur"></a></td>
                <td><a href="" class="icon-undo" ng-click="newUser.created=false" title="Annuler"></a></td>
            </tbody>

            <tbody ng-repeat="user in users" ng-switch="user.edited" ng-init="user.roles=getRoles(user)">
            <tr ng-switch-when="true">
                <td>
                    <input type="text" placeholder="Prénom" ng-model="user.firstName" required>
                </td>
                <td>
                    <input type="text" placeholder="Nom" ng-model="user.lastName" required>
                </td>
                <td>
                    <input type="email" placeholder="Email" ng-model="user.email" ng-focus="saveOldMail(user)" required>
                </td>
                <td>
                    <label ng-repeat="role in user.roles">
                        <input type="checkbox" value="{{role.name}}" ng-checked="hasAuthority(user, role.name)"
                               ng-model="user.roles[$index].checked"> {{role.name}}<br>
                    </label>
                </td>
                <td><a href="" class="icon-save" ng-click="updateUser(user)" title="Enregistrer les modifications"></a></td>
                <td><a href="" class="icon-undo" ng-click="refresh()" title="Annuler"></a></td>

            </tr>
            <tr ng-switch-default>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.email}}</td>
                <td>{{formatRoles(user)}}</td>
                <td><a href="" class="icon-pencil" ng-click="user.edited=true" title="Modifier"></a></td>
                <td><a href="" class="icon-trash" ng-click="remove(user)" title="Supprimer"></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<!--

<a type="button" class="btn" bs-modal="'app/partials/userCreationModal.html'" ng-controller="UserCreationCtrl">Nouvel utilisateur</a>

<div>
<table class="table table-striped">
<thead>
<tr>
    <th>Prénom</th>
    <th>Nom</th>
    <th>Email</th>
    <th>Rôles</th>
    <th width="20px"></th>
    <th width="20px"></th>
</tr>
</thead>
<tbody>
<tr ng-repeat="user in users">
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
    <td>{{user.email}}</td>
    <td>{{formatRoles(user)}}</td>
    <td><a href="" class="icon-pencil" bs-modal="'app/partials/userCreationModal.html'" ng-controller="UserModificationCtrl"></a></td>
    <td><a href="" class="icon-trash" ng-click="remove(user)"></a></td>
</tr>
</tbody>
</table>
</div>

        -->