<div class="panel">
    <div class="panel-heading">
        <a href="#" class="btn btn-xs btn-primary" role="button">Add to Trello</a>
        <a href="#" class="btn btn-xs btn-primary" role="button">Add and begin translation</a>
        <span class="uppercase">{{feed.type}}</span> {{feed.title}}
        <span class="pull-right hidden-xs">{{feed.publishedDate | date:'dd/MM/yyyy'}}</span>
    </div>
    <div class="panel-body">
        <p><span class="label label-default category-label" ng-repeat="category in feed.categories">{{category}}</span></p>
        <p>{{feed.description}}</p>
    </div>
</div>