<h1 class="page-header">Flux RSS InfoQ US</h1>

<feed-entry ng-repeat="feed in feeds.content" feed="feed"></feed-entry>

<div class="text-center">
    <ul class="pagination pagination-lg">
        <li><a ng-show="feeds.number > 0" ng-href="#/feed/{{feeds.number - 1}}">&#171;</a></li>
        <li><a ng-show="feeds.number > 1" ng-href="#/feed/{{feeds.number - 2}}">{{feeds.number - 1}}</a></li>
        <li><a ng-show="feeds.number > 0" ng-href="#/feed/{{feeds.number - 1}}">{{feeds.number}}</a></li>
        <li class="active"><a href="#/feed/{{feeds.number}}">{{feeds.number + 1}} <span class="sr-only">(current)</span></a></li>
        <li><a ng-href="#/feed/{{feeds.number + 1 }}">{{feeds.number + 2}}</a></li>
        <li><a ng-href="#/feed/{{feeds.number + 2 }}">{{feeds.number + 3}}</a></li>
        <li><a ng-show="feeds.number < 2" ng-href="#/feed/{{feeds.number + 3 }}">{{feeds.number + 4}}</a></li>
        <li><a ng-show="feeds.number < 1" ng-href="#/feed/{{feeds.number + 4 }}">{{feeds.number + 5}}</a></li>
        <li><a ng-href="#/feed/{{feeds.number + 1 }}">&#187;</a></li>
    </ul>
</div>
