<div class="feed-content">
    <div class="page-header pure-g">
        <div class="pure-u-3-4 r-tablet-full-width">
            <button class="pure-button feed-action" ng-click="refreshStats()" ng-class="refreshing()" ng-disabled="refreshing()" ng-show="isEditor()" title="Rafraîchir les stats">
                <i class="icon-refresh"></i>
            </button>
            <h1 class="content-subhead">Statistiques par status</h1>
        </div>
    </div>

    <div class="pure-u-1" ng-repeat="list in lists">
        <div class="stats-list-header pure-g">
            <div class="pure-u-1-4">
                <h2 class="stats-list-title">{{list.name}}</h2>
                <p class="stats-content-subtitle">
                    {{list.originalNews + list.translatedNews + list.originalArticles + list.translatedArticles}} items
                    <br>
                    News : {{list.originalNews + list.translatedNews}} ({{list.originalNews}} original, {{list.translatedNews}} traductions)
                    <br>
                    Articles : {{list.originalArticles + list.translatedArticles}} ({{list.originalArticles}} original, {{list.translatedArticles}} traductions)
                </p>
            </div>
            <div class="pure-u-3-4">
                <table class="pure-table pure-table-horizontal user-table">
                    <thead>
                    <tr>
                        <th><a href="" ng-click="order = name; reverse = !reverse;">Nom</a></th>
                        <th><a href="" ng-click="order = news; reverse = !reverse;">News</a></th>
                        <th><a href="" ng-click="order = articles; reverse = !reverse;">Articles</a></th>
                        <th><a href="" ng-click="order = valids; reverse = !reverse;">Validations</a></th>
                        <th><a href="" ng-click="order = mentors; reverse = !reverse;">Mentorats</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="stats in list.statsByAuthor | orderBy:order:reverse">
                        <td>{{stats.fullName}}</td>
                        <td>
                            <strong>{{stats.news}}</strong>
                        </td>
                        <td>
                            <strong>{{stats.articles}}</strong>
                        </td>
                        <td>
                            <strong>{{stats.validated}}</strong>
                        </td>
                        <td>
                            <strong>{{stats.mentored}}</strong>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>