<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
                           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
                           http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
                           http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="false">
            <bean id="jacksonMessageConverter"
                  class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <security:global-method-security secured-annotations="enabled" />

    <security:http auto-config="true" use-expressions="true" />

    <bean id="authenticationManager" class="com.infoq.myqapp.service.security.AppAuthenticationManager" />

    <security:authentication-manager>
        <security:authentication-provider user-service-ref="authenticationManager" />
    </security:authentication-manager>

    <mongo:mongo/>
    <mongo:repositories base-package="com.infoq.myqapp.repository"/>
    <mongo:db-factory dbname="myqapp"/>
    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
    </bean>

    <bean id="feedService" class="com.infoq.myqapp.service.FeedService"/>
    <bean id="statsService" class="com.infoq.myqapp.service.StatsService"/>

    <task:executor id="executor" pool-size="1"/>
    <task:scheduler id="myScheduler" pool-size="10"/>
    <task:scheduled-tasks scheduler="myScheduler">
        <task:scheduled ref="feedService" method="retrieveFeedTask" fixed-rate="3600000" initial-delay="10000"/>
        <task:scheduled ref="statsService" method="calculateStats" fixed-rate="3600000" initial-delay="10000"/>
    </task:scheduled-tasks>

    <context:annotation-config/>
    <context:component-scan base-package="com.infoq.myqapp"/>

    <beans profile="dev">
        <context:property-placeholder location="file:${myqapp.home}/dev.properties"/>
    </beans>
    <beans profile="prod">
        <context:property-placeholder location="file:${myqapp.home}/prod.properties"/>
    </beans>

</beans>